---
layout: default
---

Hi, I'm Tanin (<a href="https://twitter.com/tanin">@tanin</a>). I'm a programmer living in Seattle. This is my technical blog which contains tricks and code nuggets I've discovered.
My main blog is <a href="/">here</a>. Enjoy!<br/><br/>

{% for post in site.posts %}
  {% if post.categories contains 'technical' %}
    <div class="post">
      <h1 class="post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>

      {{ post.excerpt }}

      {% if post.content contains site.excerpt_separator %}
        <a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}

